body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 100%;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
    width: 1440px;
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    width: 1158px;
    padding: 0 15px;

}

.header-logo {
    display: flex;
    align-items: center;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo-color {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 24px 0;
    margin-right: 76px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-item:last-child {
    padding-right: 332px;
}

.header-address {
    font-style: normal;
    display: flex;
    align-items: center;
}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-address-link {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/* main */

/* section 1 - order */
.order {
    background: #2E2F42;
    padding: 188px 0;
}

.order-container {
    max-width: 1440px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-height: 120px;
    max-width: 496px;
    padding-bottom: 48px;
}

.order-button {
    background: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-button:hover {
    background-color: #404BBF;
}

.order-button:focus {
    background-color: #404BBF;
}

.order-button-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
}

/* section 2 - features */

.features-container {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    margin-bottom: 8px;
}

.features-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: calc((100% - 24 * 4) / 3);
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    padding-bottom: 8px;
}

.features-description {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-bottom: 120px;
}

/* section 3 - team */

.team {
    background-color: #F4F4FD;
}

.team-container {
    max-height: 732px;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team-item {
    max-width: 264px;
    max-height: 380px;
    padding-bottom: 120px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    padding-top: 32px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 32px;
}

.team-position {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 32px;

}

/* section 4 - portfolio */

.portfolio-container {
    max-height: 1240px;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 72px;

}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    height: 420px;
    padding-bottom: 0px;
    align-items: flex-start;
    flex-shrink: 0;

}

.portfolio-part {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    padding-top: 32px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-bottom: 32px;
    padding-top: 8px;
}

/* footer */
.footer {
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    flex-direction: column;
    max-height: 312px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
    padding-top: 102px;
    padding-bottom: 18px;
}

.footer-logo-color {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
    max-height: 72px;
    padding-bottom: 100px;
}